@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: light;
  }
  body {
    @apply bg-[#fbf9f6] text-slate-900 font-sans antialiased selection:bg-brand-600 selection:text-white;
  }
}

/* Print Optimization for Recipe Cards */
@media print {
  header, footer, .no-print, button, form {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
  .print-page {
    padding: 0 !important;
    margin: 0 !important;
  }
}
